<div class='event'>
  <span><%= event.details[:type] %> </span>
  <span>at <%= event.details[:event_time]%></span>
  <span>with <%= event.details[:invitee]%></span>
  <br/>
  <span><%= event.details[:duration]%></span>
</div>
